# GH credentials
# Ideally, this GH PAT should have the most minimal permissions which includes
# the `Contents: Read-only` permission for your GH repo housing your daily goals
GH_PAT=<your-gh-access-token>

# AWS credentials
AWS_REGION=<your-aws-region>
