# GH credentials
# Ideally, this GH PAT should have the most minimal permissions which includes
# the `Contents: Read-only` permission for your GH repo housing your daily goals
GH_PAT=<your-gh-access-token>
GH_TODO_REPO_OWNER=<gh-repo-owner>
GH_TODO_REPO_NAME=<your-gh-repo-name>

# AWS credentials
AWS_REGION=<your-aws-region>
